* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
html,
body {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: Lato;
    overflow: hidden;
}
body {
    background: url('../image/background.jpg');
    background-size: cover;
}
#login {
    padding: 20%;
}
#cashPanel {
    color: white;
    height: 100%;
}
input {
    width: 100%;
    margin: 2px 2px 3px 2px;
    padding: 7px;
    background: transparent;
    position: relative;
    display: block;
    color: white;
    border-color: rgba(119, 119, 119, 0.5);
    border-width: 0px 0px 1px 0px;
    font-size: 18px;
}
input:hover {
    border-color: rgba(119, 119, 119, 0.75);
}
input:focus {
    border-color: rgba(119, 119, 119, 1);
    outline-width: 0;
}
input[type=submit] {
    cursor: pointer;
    font-size: 20px;
    padding: 12px 10px;
    color: rgba(255, 255, 255, 0.95);
    background: rgba(88, 132, 158, 0.7);
    border-color: rgba(119, 119, 119, 0.5);
    border-radius: 2px;
    border-width: 0px 0px 2px 0px;
}
input[type=submit]:hover {
    margin-top: 3px;
    background: rgba(88, 132, 158, 0.75);
    border-width: 0px 0px 1px 0px;
}
#userBalance {
    width: 100%;
    vertical-align: middle;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    background-color: rgba(255, 255, 255, 0.2) !important;
}
#userOrder {
    width: 100%;
    height: 90%;
}
#orderList {
    width: 40%;
    height: 100%;
    float: left;
}
#drinkList {
    width: 60%;
    height: 100%;
    float: left;
    overflow-y: auto;
    background: rgba(50, 50, 50, 1) !important;
}
#orderList,
#drinkList,
#userBalance {
    background-color: rgba(255, 255, 255, 0.1);
}
.drink {
    font-size: 20px;
    width: 50%;
    position: relative;
    background: rgba(88, 132, 158, 0.5);
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: rgb(124, 129, 137);
    vertical-align: top;
    padding: 20px 15px;
    float: left;
}
.drink span {
    float: right;
}
.drink:hover {
    background: rgba(88, 132, 158, 0.9);
    cursor: pointer;
}
.drink.inactive {
    color: rgba(181, 181, 181, 0.62);
    background-color: transparent;
    cursor: default;
}
table tr td {
    padding: 12px;
}
table tr td:nth-child(2),
table tr td:last-child {
    text-align: right;
}
table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}